<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <title><%= blog.title %></title>
</head>

<body>
  <%- include('./partials/nav') %>

  <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
      <article class="mx-auto w-full max-w-4xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
        <!-- BLOG HEADER DESCRIPTION  -->
        <%- include('./partials/blog/blog_header') %>

        <!-- BLOG BODY STARTS HERE -->
        <%- marked.parse(blog.body) %>

        <!-- BLOG COMMENTS SECTION HERE -->
        <%- include('./partials/blog/discussion') %>
      </article>
    </div>
  </main>


  <!-- RELATED BLOGS SECTION -->
  <%- include('./partials/blog/related_blogs') %>

  <!-- BLOG NEWSLETTER SECTION -->


  <!-- BLOG FOOTER SECTION -->
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>
</body>

</html>